.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* 使用100%而不是auto确保宽度充满视口 */
  height: var(--navbar-height);
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999; /* 增大z-index值以确保在所有元素之上 */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
}
.navbar .etherevo-title {
  color: #FFD700;
}